/*
 * Navbar
 */

.nav {
    padding: $nav-link-padding;
    > li > a {
        font-family: $font-family-sans-serif;
        font-size: $nav-menu-font-size;
    }
}

.navbar-toggle {
//    margin-top: 12px !important;
    margin-bottom: 0px;
}

.navbar.navbar-inverse {
    padding-bottom: 0;
    padding-top: 0;

    .navbar-brand {
        font-size: $nav-brand-font-size;
//        height: 60px;
    }

    .navbar-brand-text {
       padding-top: 14px;
       padding-bottom: 10px;
    }

    .navbar-brand-img {
       padding-top: 0px;
       padding-bottom: 0px;
    }

    .navbar-nav {
        > li > a {
           padding-top: $nav-link-vertical-padding;
           padding-bottom: $nav-link-vertical-padding;
           padding-left: $nav-link-horizontal-padding;
           padding-right: $nav-link-horizontal-padding;

           &:hover {
           background-color: #111;
           }
        }
    }
}


/*
 * Table of Contents
 */

// Adding 'Contents' headline to the TOC with Wikipedia Style Nested Numbering
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

#markdown-toc ul {
    counter-reset: item;
    list-style-type: decimal
}

#markdown-toc {
    counter-reset: item;
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: upper-alpha;
    display: inline-block;
}


#markdown-toc li {
  display: block
}

#markdown-toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}


/* Table styling
*
* Default Options:
* - .table
* - .table-striped
* - .table-bordered
* - .table-hover
* - .table-condensed
*/

table.table-wide {
  width: 100%;
}

table.table-padded td{
    padding: 10px;
}

table.table-padded th{
    padding: 10px;
}

table.table-centered {
    margin: 0px auto;
}

/* Heading Style
*
*/
h2 {
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}
