/*
 * Navbar
 */

 @import 'custom/_variables.scss';

.navbar-custom {
    background-color: #202020;
    margin-right: auto;
    margin-left: auto;
    font-size: $navbar-font-size !important;
    height: $navbar-height;
    margin-bottom: $navbar-margin-bottom;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #aaaaaa !important;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #aaaaaa !important;
    padding: ($navbar-height - 1.5 * $navbar-font-size)/2 $navbar-horizontal-padding !important;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active,
.navbar-custom .nav-item:hover{
    color: #ffffff !important;
    background-color: #000000;
}

// .navbar-custom .nav-item{padding:($navbar-height - $navbar-font-size - 2 * $navbar-vertical-padding)/2 $navbar-horizontal-padding}


/*
 * Table of Contents
 */

// Adding 'Contents' headline to the TOC with Wikipedia Style Nested Numbering
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}

#markdown-toc ul {
    counter-reset: item;
    list-style-type: decimal
}

#markdown-toc {
    counter-reset: item;
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: upper-alpha;
    display: inline-block;
}


#markdown-toc li {
  display: block
}

#markdown-toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}


/* Table styling
*
* Default Options:
* - .table
* - .table-striped
* - .table-bordered
* - .table-hover
* - .table-condensed
*/

table.table-wide {
  width: 100%;
}

table.table-padded td{
    padding: 10px;
}

table.table-padded th{
    padding: 10px;
}

table.table-centered {
    margin: 0px auto;
}

/* Heading Style
*
*/
h2 {
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}

/* unvisited link, visited link*/
a:link, a:visited{
    color: #337ab7;
  }
  