// Variables go here
$font-family-sans-serif: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base: 1rem;

/*
 * Navbar
 */


$navbar-height: 3.5rem; // Navbar height
$navbar-font-size: 1.25rem;
$navbar-horizontal-padding: 1rem;
$navbar-margin-bottom: 1rem ;