<!-- Bootstrap's default fixed navbar -->
<!-- Edit Navbar style (color, fixed ,etc.) here  -->


 <nav class="navbar navbar-expand-lg navbar-dark navbar-custom rounded py-0">
    <div class="container">
      <a class="navbar-brand navbar-brand-img" id="nav-brand-text" href="/">
        <!--
        Lucas Chen
        -->
        <img src="/images/favicon-2.ico" class="img-responsive img-rounded" alt="Lucas Chen" width=45px vspace=3px>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="https://www.github.com/lucaschen321">Github</a>
        </div>
      </div>
    </div>
    </nav>
