---
layout: page
permalink: /
---

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <!--Recent Pages-->
      <table class="table">
        <thead>
          <tr>
            <th class="text-center h3 table-bordered" style="width: 67%; border-left-style: none; border-top-style: none;" >Recent Pages</th>
            <th class="text-center h3" style="width: 33%; border-top-style: none;">Last Modified</th>
          </tr>
        </thead>
        <tbody>
          {% for page in site.posts offset: 0 limit: 10  %}
            {% if page.date %}
              <tr>
                <td class="text-center"><a href="{{ page.url }}">{{ page.title }}</a></td>
                <td class="text-center">{{ page.date | date_to_long_string }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
       <!--About me-->
      <div class="row", style="text-align:center; display:block; margin-top: 1rem;">
         <h3 style="text-align:center;">Lucas Chen</h3>
        <img src="/images/favicon-2.ico" alt="Profile Picture" class="center-block" style="width:60%;height:60%">
      </div>
      <p style="padding-left:2%;padding-right:2%;padding-top:5%">
          Hello! I'm Lucas Chen, a student majoring in Computer Science at Cornell University. Look around my website to read about my interests and what I've been up to!
      </p>
      <div style="text-align:center">
          <a href=/about>(more about me)</a>
      </div>
      <br>
      <!--Categories-->
      <div class="row" style="display: block; width: 200px; margin:0 auto; text-align: left;">
        <!--Categories-->
        <h3 class="text-center"><a href="/category">Categories</a> </h3>
        {% for category in site.categories %}
          <ul style="list-style-type: disc; list-style-position: inside;">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <li>
              <a href="/category/{{ category_name }}"> {{ category_name | capitalize}} </a>
            </li>
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>