---
layout: page
permalink: /
---

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <!--Recent Pages-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-sm-8 text-center h3 table-bordered" style="border-left-style: none" >Recent Pages</th>
            <th class="col-sm-4 text-center h3">Last Modified</th>
          </tr>
        </thead>
        <tbody>
          {% for page in site.pages offset: 0 limit: 10  %}
            {% if page.date %}
              <tr>
                <td class="col-sm-8 text-center"><a href="{{ page.url }}">{{ page.title }}</a></td>
                <td class="col-sm-4 text-center">{{ page.date | date_to_long_string }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
       <!--About me-->
      <div class="row">
        <h3 class="text-center">About me</h3>
            <img src="/images/profile.jpg" alt="Profile Picture" class="center-block" style="width:60%;height:60%">
            <p style="padding-left:10%;padding-right:10%;padding-top:5%">
                Hello! I'm Lucas Chen, a student majoring in Computer Science at Cornell University. Feel free to look around my website to check out my projects and what I've been up to.
                <br>
                <center><a href=/about>(more about me)</a></center>
            </p>
      </div>
      <div class="row" style="display: block; width: 200px; margin:0 auto; text-align: left;">
        <!--Categories-->
        <h3 class="text-center"><a href="/category">Categories</a> </h3>
        {% for category in site.categories %}
          <ul style="list-style-type: disc; list-style-position: inside;">
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <li>
              <a href="/category/{{ category_name }}">
                {{ category_name }}
              </a>
            </li>
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
